@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f7f7;
  --foreground: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: theme(fontFamily.montserrat);
  min-height: 100dvh;
}

#root {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: 90rem;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .button {
    @apply z-50 flex size-10 items-center justify-center rounded-full bg-white p-3 shadow-[0_1px_15px_-1px_#626262] backdrop-blur-sm transition-all duration-100 hover:scale-110;
  }
}

.shadow-custom {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.price-crossed-out {
  position: relative;
  display: inline-block;
  color: grey;
}

.price-crossed-out::before {
  content: "";
  position: absolute;
  top: 40%;
  left: -1px;
  right: -40px;
  border-top: 0.5px solid #808488;
  z-index: 1;
}

.borde-modificado {
  border-top: 20px solid white;
  border-bottom: 20px solid white;
  border-right: 20px solid white;
  border-left: none;
}
